.mod-addknowledge {
    width: 500px;
	.name,
	.status {
		label.attr {
			width: 17%;
			text-align: right;
			display: inline-block;
		}
	}
	.name {
		.el-input {
			display: inline-block;
			width: 80%;
		}
	}
	.status {
		div.status-content {
			display: inline-block;
			border: 1px solid $border;
			padding: 7px 10px;
			width: 80%;
			margin-top: 10px;
			border-radius: 5px;
			div:first-child {
				margin-bottom: 10px;
			}
		}
	}
}
