.mod-homepage {
	.el-button--primary {
		margin-top: 10px;
		width: 120px;
	}
	.el-tabs,
	.search-item {
		position: relative;
		height: 120px;
		padding: 0 10px;
		border: 1px solid $border;
	}
	.search-item {
		background: rgb(224, 224, 224);
		.el-input__inner {
			border: 1px solid $text-active;
			width: 80%;
		}
		.el-button {
			background: rgb(218, 247, 232);
			border: none;
			padding: 10px 15px;
			position: absolute;
			right: 10px;
			top: 44px;
		}
		.s-tag {
			span {
				cursor: pointer;
				display: inline-block;
				padding: 7px 20px;
				margin: 0 15px 10px 0;
			}
		}
		.s-active {
			background: rgb(218, 247, 232);
		}
		.s-tips {
			margin-top: 10px;
			color: $text-title-weak;
		}
	}
	.el-tabs {
		.el-tabs__item {
			height: 35px;
			line-height: 35px
		}
		.exprt-list {
			float: left;
			img {
				display: inline-block;
				width: 45px;
				height: 45px;
				border: 1px solid $blue;
				margin-right: 5px;
			}
			i.icon {
				display: inline-block;
				width: 30px;
				height: 30px;
			}
			.guanjun {
				background-image: url(../../assets/images/guanjun.png);
			}
			.yajun {
				background-image: url(../../assets/images/yajun.png);
			}
			.jijun {
				background-image: url(../../assets/images/jijun.png);
			}
			.user-info {
				display: inline-block;
				.title {
					font-weight: bold;
					font-size: 16px;
				}
				.intr {
					color: $text-title-weak;
				}
			}
		}
	}
	h4 {
        font-weight: bold;
		margin-top: 10px;
		font-size: 18px;
		padding: 6px 10px;
		background: rgb(218, 247, 232);
	}
	.list-item {
		padding: 10px;
		border-bottom: 1px solid $border;
		.title {
			h5 {
                font-weight: bold;
				font-size: 16px;
			}
			time {
				color: $text-title-weak;
			}
		}
		.tags {
			margin: 10px 0;
			.el-tag {
				margin-right: 10px;
			}
		}
		.conent {}
		.info {
            margin-top: 10px;
            .icon-look{
                display: inline-block;
                width: 16px;
                height: 13px;
				background-image: url(../../assets/images/look.png);
            }
            .score{
                color:rgb(208, 8, 50);
                font-size: 25px;
            }
		}
	}
}
