@import "./variable";
@import "./reset";
@import "./app";
@import "./top";
@import "./nav";
@import "./manage";

#root, .wrap {
    position: relative;
    height: 100%;
}

.wrap {
    padding-left: 150px;
    padding-top: 70px;
}
