@import "./variable";
@import "./reset";
@import "./app";
@import "./top";
@import "./nav";
@import "./my-check";
@import "./knowledge";
@import "./add-knowledge";
@import "./manage";
@import "./professor";
@import "./list-item";
* {
	box-sizing: border-box;
}

.wrap {
	padding-left: 150px;
	padding-top: 70px;
}

.wrap-right {
	padding: 15px;
}

.tr {
	text-align: right;
}

.p-tips {
	font-size: 12px;
	color: $text-title-weak;
}
// reset element css
.mod-homepage {
    .el-button--primary {
        background-color: $primary;
        border-color: $primary;
    }
    .el-button--primary:focus,
    .el-button--primary:hover {
        background-color: $primary;
        border-color: $primary;
    }
}
.el-dialog {
	.el-dialog__header {
		padding: 20px;
		background: $primary;
		span.el-dialog__title {
			color: white;
		}
		.el-icon-close {
			color: white;
		}
	}
	.el-dialog__body {
		.el-table--border td,
		.el-table--border th {
			border-right: none;
			height: 35px;
		}
		.el-table td,
		.el-table th.is-leaf {
			border-bottom: none;
		}
	}
	.el-dialog__footer {
		.el-button--info {
			background-color: $primary;
			border-color: $primary;
		}
		.el-button--info:focus,
		.el-button--info:hover {
			background-color: $primary;
			border-color: $primary;
		}
	}
}

.el-pagination {
	.el-pager li.active {
		border-color: $primary;
		background-color: $primary;
	}
	button:hover,
	.el-pager li:hover {
		color: $primary;
	}
}
