@import "./variable";
@import "./app";
@import "./top";
@import "./nav";

* {
    box-sizing: border-box;
}

body, p, h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
}

#root, .wrap {
    position: relative;
    height: 100%;
}

.wrap {
    padding-left: 150px;
    padding-top: 70px;
}
