.mod-itemdetail {
    .el-breadcrumb{
        margin-bottom: 20px;
        font-size: 18px;
    }
    .empty-tips {
        text-align: center;
        padding: 10px;
        .refresh {
            cursor: pointer;
            color: $primary;
        }
    }
    .item {
        padding: 10px 0;
        line-height: 1.5;
        position: relative;
        min-height: 21px;
        border-bottom: 1px solid #eee;
        &:last-child {
            //border-bottom: none;
            min-height: 300px;
        }

        .batch-dl{
            float: right;
            margin-right: 20px;
        }

    }
    .item-info{
        max-width: 140px;
        color: #9E9E9E;
        margin-right: 20px;
        font-size: 14px;

        .score-text{
            color: red;
        }
    }
    .item-right{
        float: right;
    }
    .title {
        position: absolute;
        width: 80px;
        top: 10px;
        left: 0;
        color: #808080;
    }
    .content {
        padding-left: 80px;
        .el-tag{
            margin-right: 10px;
        }
    }
    .file-item {
        position: relative;
        border-bottom: 1px solid #eee;
        padding-top: 4px;
        overflow: hidden;

        .preview {
            margin-right: 20px;
            float: right;
        }
        .icon-img{
            height: 36px;
            width: 36px;
        }
        .f-name{
            position: absolute;
            top: 10px;
            left: 40px;
            bottom: 10px;
            right: 110px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .tag-item {
        display: inline-block;
        vertical-align: top;
        padding: 0 10px;
        border: 1px solid $primary;
    }
}

.item-desc{
    color: #9E9E9E;
    font-size: 14px;
    margin-top: 10px;
}
