.mod-homepage {

    .btn-groups {
        text-align: center;
        .el-button {
            margin-right: 20px;
        }
    }
    .el-button--primary {
        background-color: $primary;
        border-color: $primary;
    }
    .search-item {
        padding: 0 10px;
        position: relative;
        .el-input__icon+.el-input__inner {
            padding-right: 30px;
        }
    }
    .search-item {
        padding-right: 225px;
        .el-col-3:first-child {
            padding-left: 0 !important;
        }
        .el-col-3 {
            .el-select {
                height: 30px;
            }
        }
        div:first-child {
            width: 100%;
        }
        .btn-search {
            position: absolute;
            right: 140px;
            top: 0;
            width: 85px;
            button {
                height: 36px;
                border-radius: 0;
                width: 100%;
            }
        }
        .add-itembtn {
            text-align: right;
            position: absolute;
            top: 0;
            right: 0;
            width: 130px;
            button {
                width: 100%;
                border-radius: 0;
            }
        }
        .el-input__inner {
            border: 1px solid $text-active;
            border-radius: 0;
        }
    }
    h4 {
        font-weight: bold;
        font-size: 18px;
        padding: 10px;
        border-bottom: 1px solid lightgray;
        .check-top {
            margin-bottom: 0;
            .check-filter {
                top: -25px;
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
}
