.mod-homepage {
	.el-button--primary {
		margin-top: 10px;
		width: 120px;
	}
	.el-button--primary {
		background-color: $primary;
		border-color: $primary;
	}
	.search-item {
		position: relative;
		padding: 0 10px;
	}
	.search-item {
		.el-col-3 {
			padding-left: 0 !important;
			.el-select {
				width: 100px;
				height: 30px;
			}
		}
		.el-col-19 {
            width: 810px;
			margin-left: -24px;
		}
		.el-input__inner {
			border: 1px solid $text-active;
			border-radius: 0;
		}
		.el-button {
			background: #daf7e8;
			border: none;
			border-radius: 0;
            height: 35px;
            width: 100px;
		}
		.el-input {
			margin-bottom: 10px;
		}
	}
	h4 {
		font-weight: bold;
		margin-top: 10px;
		font-size: 18px;
		padding: 6px 10px;
		background: rgb(218, 247, 232);
	}
}
