.mod-manage {
    background: white;
    .manage-wrap {

        padding: 6px;
        height: 100%;
    }
    .manage-title {
        margin-bottom: 10px;
        font-size: 14px;
        &:before {
            display: inline-block;
            vertical-align: middle;
            margin-left: 6px;
            margin-right: 6px;
            content: "";
            width: 32px;
            height: 27px;
            background-image: url(../images/manage-title.png);
        }
    }
    .manage-wrap {
        .el-button {
            text-align: center;
        }
    }
    .manage-list {
        li {
            margin-top: 10px;
            height: 54px;
            background-color: #f6f6f6;
            line-height: 54px;
            padding: 0 20px;
            .audit-status{
                background-color: #0e8afd;
                color: white;
                margin-right: 20px;
                padding: 3px 10px;
            }

            .noaudit-status{
                background-color: #05cb67;
                color: white;
                margin-right: 20px;
                padding: 3px 10px;
            }
            span.title {
                max-width: 30%;
                display: inline-block;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                // .status{
                //     background: $primary;
                //     color: white;
                //     padding: 4px 10px;
                //     margin-right: 10px;
                // }
            }
            .op-btns {
                float: right;
                .el-button {
                    span {
                        color: #0cb6ff;
                        padding-right: 10px;
                        border-right: 1px solid lightgray;
                    }
                    margin-left: 15px;
                }
            }
        }
    }
}
