.my-check {
    .pagination {
        text-align: center;
        margin: 10px 0;
    }
}

.knowledge-info {
    line-height: 28px;
    padding: 0 10px;
    background: #cbeafc;
    margin-bottom: 10px;
    .info-author {
        color: $text-title-weak;
        margin-left: 20px;
    }
}
.mod-checkdetail-dialog{
    width: 640px;
    .check-table {
        margin: 5px 10px;
        table {
            width: 100%;
        }
        th, td {
            padding: 10px 20px;
            border: 1px solid $border;
        }
        .align-right {
            text-align: right;
        }
        .tag {
            margin-right: 5px;
        }
        .tags-wrap {
            padding: 15px 20px;
            .item {
                margin-right: 10px;
            }
            .default-tag {
                width: 100px;
            }
        }
    }

}


