.nav {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    width: 180px;
    background: #3d3d3d;
    font-size: 14px;
    color: #fff;
    overflow: hidden;
    .logo-txt{
        text-align: center;
        line-height: 55px;
        font-size: 18px;
    }
    .logo {
        background: url(../images/logo.png) center no-repeat;
        width: 100%;
        height: 55px;
        background-size: 95% auto;
        margin-bottom: 20px;
        margin-top: 10px;
        position: relative;
        left: -1px;
    }
    &-item {
        white-space: nowrap;
        margin-bottom: 2px;
        >a {
            display: block;
            padding-left: 70px;
            color: #fff;
            height: 42px;
            line-height: 42px;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            &.active,
            &:hover {
                background: $primary;
            }
            &:before {
                position: absolute;
                content: '';
                top: 50%;
                left: 48px;
                transform: translate(-50%, -50%);
                width: 14px;
                height: 18px;
                background-repeat: no-repeat;
                background-size: 100%;
            }
        }
        &__sep {
            height: 30px;
        }
        &.nav-base {
            font-size: 12px;
            >a {
                padding-left:76px ;
                &:before {
                    left:56px ;
                    background-image: url(../images/nav-konw.png);
                }
            }
        }
        &.nav-cloud {
            border: 2px solid #0cb6ff;
            /* margin: 0px 30px; */
            position: absolute;
            bottom: 20px;
            left: 30px;
            width: 120px;
            border-radius: 5px;
            background: #3e3e3e;
            >a {
                padding-left: 50px;
                &:before {
                    left: 22px;
                    height: 24px;
                    width: 24px;
                    background-image: url(../images/nav-back.png);
                }
            }
        }
        &.nav-my {
            >a {
                &:before {
                    height: 24px;
                    width: 24px;
                    background-image: url(../images/nav-my.png);
                }
            }
        }
        &.nav-check {
            >a {
                &:before {
                    height: 24px;
                    width: 24px;
                    background-image: url(../images/nav-check.png);
                }
            }
        }
        &.nav-professor {
            >a {
                &:before {
                    height: 24px;
                    width: 24px;
                    background-image: url(../images/nav-professor.png);
                }
            }
        }
        &.nav-manage {
            >a {
                &:before {
                    height: 24px;
                    width: 24px;
                    background-image: url(../images/nav-manage.png);
                }
            }
        }
        &.nav-know {
            >a {
                &.active,
                &:hover {
                    background: transparent;
                }
                &:before {
                    height: 24px;
                    width: 24px;
                    background-image: url(../images/nav-list.png);
                }
            }
        }
    }
    .user-info {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        img {
            display: inline-block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
}
