.professor {
    overflow: hidden;
    .pagination {
        text-align: center;
    }
}

.professor-list {
    padding: 3px;
    margin-right: -34px;
}

.professor-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 194px;
    height: 180px;
    background: #108eea;
    box-shadow: 1px 2px  15px -1px #333;
    margin: 0 34px 34px 0;
    .avator {
        height: 120px;
        text-align: center;
        .name {
            color: white;
            font-size: 30px;
            line-height: 136px;
        }
    }
    .info {
        color: white;
        padding: 5px 10px 0;
        text-align: center;

        p{
            margin-bottom: 10px;
        }

    }

    &-pro1{
        background: #09498a;
    }
    &-pro2{
        background: #0e78c9;
    }
    .medals {
        position: absolute;
        display: inline-block;
        width: 25px;
        height: 32px;
    }
    .guanjun {
        background-image: url(../images/guanjun.png);
    }
    .jijun {
        background-image: url(../images/jijun.png);
    }
    .yajun {
        background-image: url(../images/yajun.png);
    }
}
