.professor {
    overflow: hidden;
    .pagination {
        text-align: center;
    }
}

.professor-list {
    padding: 3px;
    margin-right: -34px;
}

.professor-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 194px;
    height: 234px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    margin: 0 34px 34px 0;
    .avator {
        height: 190px;
    }
    .info {
        padding: 5px 10px 0;
        .job {
            color: $text-title-weak;
        }
    }
}
