* {
    box-sizing: border-box;
}

body, p, h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font: 12px/1.5 Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
}
