.mod-setexpert {
    width: 600px;
    .el-dialog__body {
        padding: 10px 20px;
    }
    .text {
        font-size: 12px;
        padding: 10px 0 5px;
    }
}

.user-tree-inner {
    display: inline-block;
    vertical-align: top;
    width: 270px;
    margin-right: 20px;
    &:last-child {
        margin-top: 28px;
        margin-right: 0;
    }
}

.user-tree {
    height: 240px;
    overflow-y: auto;
    border: 1px solid #ddd;
}
