.mod-setexpert {
    width: 600px;
    .el-dialog__body {
        padding: 10px 20px;
    }
    .text {
        font-size: 12px;
        padding: 10px 0 5px;
    }
    .opt-wrap {
        padding: 110px 20px 0;
        display: inline-block;
        vertical-align: top;
        .opt-item {
            background: #daf7e8;
            padding: 13px 16px;
            margin-bottom: 20px;
            cursor: pointer;
            &:after {
                display: inline-block;
                vertical-align: top;
                content: '';
                width: 8px;
                height: 14px;
                overflow: hidden;
            }
            &.add:after {
                background: url(../images/forward.png) no-repeat;
            }
            &.remove:after {
                background: url(../images/back.png) no-repeat;
            }
        }
    }
}

.user-tree-inner {
    display: inline-block;
    vertical-align: top;
    width: 240px;
    &:last-child {
        margin-top: 28px;
    }
}

.user-tree {
    height: 240px;
    overflow-y: auto;
    border: 1px solid #ddd;
}
