.mod-taglist {
    padding:0 10px;
    margin-top: 16px;
    max-width: 100%;

    .filter-wrap{
        border-top: 1px solid lightgray;
        background-color: #f6f6f6;
        padding-left: 16px;
        padding-top: 4px;
        overflow: hidden;
    }
    .lib-name{
        vertical-align: top;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        color: #000000;
        a{
            color: inherit;
        }
        span{
            padding: 0 8px;
        }
    }
    .el-button{
        vertical-align: top;
    }
	.el-tag {
		position: relative;
		margin-right: 15px;
		height: 30px;
		text-align: center;
		line-height: 30px;
		text-overflow: ellipsis;
		overflow: hidden;
        cursor: pointer;
        padding-right:10px;
        padding-left:10px;
        background-color: #f6f6f6;
        border: 1px solid #b5bbb8;
        color: #06ca67;
        border: 0;
    }
    .clearfix{
        border-bottom: 1px solid #e4e4e4;
    }
    .tag-wrap{
        line-height: 30px;
        font-size: 0;
        background: #f6f6f6;
        border-top: 1px solid #e4e4e4;
        border-right: 1px solid #e4e4e4;
        .left, .right{
            font-size: 12px;
            display: inline-block;
            vertical-align: top;
        }
        .left {
            padding-left: 16px;
            width: 100px;
            color: #a2a2a2;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .more-right{
            height: 30px;
            overflow: hidden;
        }
        .right{
            color: #404040;
            width: calc(100% - 119px);
            background: #fff;
            padding-left: 19px;
            box-sizing: content-box;
            >span{
                cursor: pointer;
                width: 158px;
                display: inline-block;
                vertical-align: top;
                color: #a2a2a2;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                &:hover{
                    color: #13ce66;
                }
            }
        }


        .more-tag{

            float: right;
            background: yellowgreen;
        }

    }

    .collapse-area{
        height: 24px;
        .line{
            height: 1px;
            background-color: #e0e0e0;
            position: relative;
        }
        .collapse-wrap{
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            width: 88px;
            height: 20px;
            line-height: 18px;
            border: 1px solid #e0e0e0;
            font-size: 14px;
            margin: 0 auto;
            cursor: pointer;
            color: #a59999;
            &:after{
                content: '';
                width: 7px;
                height: 7px;
                border-left: 1px solid;
                border-bottom: 1px solid;
                border-color: currentColor;
                display: inline-block;
                transform: rotate(-45deg);
                position: relative;
                left: 4px;
                top: -3px;
                transition: 0.5s transform;
            }
            &.expand{
                &:after{
                    transform: rotate(135deg);
                    top: 0px;
                }
            }
        }
    }

	.scenod-level {
		li {
			width: 92px;
			height: 30px;
			line-height: 30px;
			text-overflow: ellipsis;
			overflow: hidden;
			cursor: pointer;
			display: inline-block;
		}
		li:hover {
			color: $primary
		}
	}
	.triangle-down {
		width: 0;
		height: 0px;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid white;
		position: absolute;
		top: 12px;
		right: 7px;
	}
}
